.step-item1 {
  @apply relative flex flex-col justify-start items-center w-full;
}

.step-item1:not(:first-child):before {
  @apply content-[""] bg-[#8F90A6] absolute w-full h-[3px] right-2/4 top-2/4 -translate-y-2/4;
}
.step-item2 {
  @apply relative flex flex-col justify-start items-center w-full;
}

.step-item2:not(:first-child):before {
  @apply content-[""] bg-[#EB148C] absolute w-full h-[3px] right-2/4 top-2/4 -translate-y-2/4;
}

.step {
  @apply w-6 h-6 flex  z-10  bg-[url('/other/Steps.svg')] bg-cover bg-center bg-white;
}
.step2 {
  @apply w-6 h-6 flex  z-10  bg-[url('/other/StepsItem.svg')] bg-cover bg-center bg-white;
}

.badge {
  @apply inline-flex items-center rounded-full bg-gray-200 px-2 text-sm py-1 font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10;
}

.box {
  @apply absolute opacity-0 flex  w-[90%] justify-between group-hover:opacity-100 group-hover:duration-700  text-xs text-white  rounded-full -top-2 right-4;
}
.box1 {
  @apply absolute opacity-0 flex  w-[90%] justify-end group-hover:opacity-100 group-hover:duration-700  text-xs text-white  rounded-full -top-2 right-4;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  body {
    margin: 0;
    padding: 0;
  }

  .printable-page {
    width: 210mm;
    height: 297mm;
    padding-left: 5mm;
    padding-right: 5mm;
    page-break-after: always;
  }
}

.eyebutton {
  @apply absolute top-0 h-full w-full -z-10 group-hover:z-20 flex group-hover:bg-black group-hover:bg-opacity-20
  justify-center items-center transition;
}
.heathcardimage1 {
  @apply rounded-[20px]  max-w-md;
}
.healthcardimage2 {
  @apply rounded-[20px] max-w-md;
}
.mainpackageDiv {
  @apply grid grid-cols-1 md:grid-cols-2 gap-3 max-w-5xl p-3 min-h-[50vh] md:min-h-[26vh] md:max-h-[30vh] lg:min-h-[30vh] lg:max-h-[36vh] 2xl:min-h-[33.7vh] 2xl:max-h-[59vh]  sm:p-6;
}
