@keyframes fadeInSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animatefadeInSlideDown {
  animation: fadeInSlideDown 0.3s ease-in-out;
}

.searchbar {
  @apply transform -translate-x-1/2 z-10 w-full sm:w-[80%] lg:w-[70%] xl:w-[60%] 2xl:w-[50%] mt-1;
}

.searchbar2 {
  @apply rounded-md shadow-lg min-h-[70vh] max-h-[80vh] lg:min-h-[60vh] lg:max-h-[82vh];
}

.searchbar3 {
  @apply absolute left-[47%] top-[90%] overflow-y-auto transition-all duration-300 ease-in-out bg-white border border-gray-300;
}

